// BACKGROUND COLOR

$bg-primary-color:hsl(273, 75%, 66%);
$bg-secondary-color:hsl(240, 73%, 65%);

// TITLE

$faq-color: hsl(238, 29%, 16%);

// INITIAL QUESTION COLOR

$init-q-color: hsl(237, 12%, 33%);

// HOVER - OPEN QUESTION COLOR

$open-q-color: hsl(238, 29%, 16%);
$hover-q-color: hsl(14, 88%, 65%);

// ANSWER COLOR

$answer-color: hsl(240, 6%, 50%);

// DIVIDER COLOR

$line-color: hsl(240, 5%, 91%);

// ATTRIBUTION COLOR

$name-color: hsl(228, 45%, 44%);
